<div class="container">
<div class="totalAmount d-flex justify-content-center align-items-center">
    <h2 for="totalAmount" class="col-3 text-end">Total:</h2>
    <h1 class="text-right text-warning">$<spn class="totalAmount">{{totalAmount records}}</spn></h1>
    <div class="col-3">
        <form action="/filter" class="row" id="filter" onchange="filter.submit()">
            <div class="form-group col-8 my-3 ml-1">
                <select class="form-control form-control-sm" id="category" name="category">
                    <option value="All" {{{isEqual category 'All' }}}>All</option>
                    <option value="Home & Utilities" {{{isEqual category 'Home & Utilities' }}}>Home & Utilities</option>
                    <option value="Transportation" {{{isEqual category 'Transportation' }}}>Transportation</option>
                    <option value="Leisure & Entertainment" {{{isEqual category 'Leisure & Entertainment' }}}>Leisure & Entertainment</option>
                    <option value="Restaurant & Dining" {{{isEqual category 'Restaurant & Dining' }}}>Restaurant & Dining</option>
                    <option value="Other" {{{isEqual category 'Other' }}}>Other</option>
                </select>
            </div>
        </form>
    </div>
</div>
{{#if records}}
        <ul class="list-group">
    {{#each records}}
        <li class="list-group-item">
            <div class="row">
                <div class="col-2 my-auto text-center">
                    <i class="{{this.icon}}" style="color:lightblue" ></i>
                </div>
                <div class="col-auto mr-auto">
                    <h4>{{this.name}}</h4>
                    <small>{{dateFormate this.date}}</small>
                </div>
                <h4 class="col-auto amount mr-4" style="display: inline;">${{this.amount}}</h4>
                <a href="./records/{{this._id}}/edit">
                    <button class="btn btn-success" >Edit</button>
                </a>
                <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;"
                      onsubmit="return confirm('Are you sure want to delete {{this.name}} ?');">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </li>
    {{/each}}
</ul>
{{/if}}
    <div class="d-flex justify-content-center m-3">
<a href="./records/new">
    <button class="btn btn-primary btn-lg">Create</button>
</a>
</div>
</div>
