<div class="totalAmount d-flex justify-content-center align-items-center">
    <h2 for="totalAmount" class="col-3 text-end">Total:</h2>
    <h1 style="display: inline;">{{totalAmount}}</h1>
</div>
<ul class="list-group">
    {{#each records}}
        <li class="list-group-item">
            <div class="row">
                <div class="col-auto mr-auto">
                    <h4>{{this.name}}</h4>
                    <small>{{this.date}}</small>
                </div>
                <h4 class="col-auto amount mr-4" style="display: inline;">${{this.amount}}</h4>
                <a href="./records/{{this._id}}/edit">
                    <button class="btn btn-success" >Edit</button>
                </a>
                <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;"
                      onsubmit="return confirm('Are you sure want to delete {{this.name}} ?');">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </li>
    {{/each}}
</ul>
<a href="./records/new">
    <button class="btn btn-primary btn-sm">Create</button>
</a>

